---
interface Props {
	url: string;
}

import { getPlaylist } from "./scrape";

const [playlist, items] = await getPlaylist(Astro.props.url);
---

<section class="overflow-hidden rounded-lg border">
	<div
		style=`background: linear-gradient(200deg, ${playlist.color}, 70%, transparent)`
		class="flex items-center justify-between overflow-hidden border-b p-4"
	>
		<div>
			<h1 class="text-xl font-semibold">{playlist.name}</h1>
			<a
				class="text-sm text-green-300/65"
				href={`https://open.spotify.com/playlist/${playlist.id}`}
			>
				open in spotify
			</a>
		</div>
		<img
			class="h-36 w-36 rounded-lg shadow-lg"
			src={playlist.thumbnailUrl}
			alt="playlist thumbnail"
		/>
	</div>
	<div class="max-h-96 divide-y overflow-y-scroll">
		{
			items.map((track, i) => (
				<div class="p-4">
					<div class="flex w-full justify-between">
						<div>
							<h1>{track.title}</h1>
							<h2 class="text-sm text-moonlightText">
								{track.artist}
							</h2>
						</div>
						<h1>{i + 1}</h1>
					</div>
					{track.audioPreview && (
						<audio
							class="mt-4 w-full rounded-full"
							preload="none"
							controls
							src={track.audioPreview}
						/>
					)}
				</div>
			))
		}
	</div>
</section>
