---
import { getTrack } from "./scrape";

interface Props {
	url: string;
}

const track = await getTrack(Astro.props.url);
---

<section class="overflow-hidden rounded-lg border">
	<div
		style=`background: linear-gradient(200deg, ${track.color}, 70%, transparent)`
	>
		<div class="flex items-center justify-between p-4">
			<div>
				<h1 class="text-xl font-semibold">{track.title}</h1>
				<h2>{track.artist}</h2>
				<a
					class="text-sm text-green-300/65"
					href={`https://open.spotify.com/track/${track.id}`}
				>
					open in spotify
				</a>
			</div>
			<img
				class="rounded-lg shadow-lg"
				height="144px"
				width="144px"
				src={track.coverUrl}
				alt="playlist thumbnail"
			/>
		</div>
		<div class="p-4 pt-2">
			{
				track.audioPreview && (
					<audio
						class="w-full rounded-full border shadow-lg"
						preload="none"
						controls
						src={track.audioPreview}
					/>
				)
			}
		</div>
	</div>
</section>
