---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import Lanyard from "../components/lanyard/Lanyard.astro";
import Playlist from "../components/spotify/Playlist.astro";
import Mal from "../components/mal/Mal.astro";

const socials = [
	{
		name: "GitHub",
		icon: "socials/github.png",
		site: "https://github.com/skearya",
		color: "rgba(49, 120, 198, 0.125)",
	},
	{
		name: "YouTube",
		icon: "socials/youtube.svg",
		site: "https://www.youtube.com/@skeary1666",
		color: "rgba(252, 101, 117, 0.125)",
	},
	{
		name: "ScoreSaber",
		icon: "socials/scoresaber.ico",
		site: "https://scoresaber.com/u/76561198365846923",
		color: "rgba(255, 202, 40, 0.125)",
	},
];
---

<Layout title="me">
	<main class="mx-auto w-full max-w-[42rem] p-4 py-10">
		<div class="flex flex-col justify-between gap-6 sm:flex-row">
			<div>
				<h1 class="mb-6 text-4xl">me!</h1>
				<!-- prettier-ignore -->
				<ul class='list-inside list-[">_"] space-y-1'>
					<li><a href="/projects">i build things</a></li>
					<li><a href="https://www.youtube.com/playlist?list=PLkrjij_GoYXCkdI9ell14S8wasbAXG5W2">i teach things</a></li>
					<li><a href="https://scoresaber.com/u/76561198365846923">previously top 100 global</a> in <a href="https://store.steampowered.com/app/620980/Beat_Saber/">beat saber</a></li>
					<li>love code</li>
					<li>&lt;&gt;</li>
				</ul>
			</div>
			<Lanyard />
		</div>
		<div
			class="mt-6 grid grid-cols-1 gap-4 text-gray-300 sm:grid-cols-2 md:grid-cols-3"
		>
			{
				socials.map((social) => (
					<a
						href={social.site}
						style={`background-color: ${social.color};`}
						class="flex items-center justify-start gap-3 rounded-lg border border-moonlightIndigo border-opacity-0 p-3 transition-colors hover:border-opacity-100"
					>
						<div
							style={`background-color: ${social.color};`}
							class="rounded-md p-2"
						>
							<img
								height="25px"
								width="25px"
								src={social.icon}
								alt={social.name}
							/>
						</div>
						<h2>{social.name}</h2>
					</a>
				))
			}
		</div>
		<div class="mt-10">
			<h1 class="mb-6 text-4xl">favorite songs</h1>
			<Playlist
				url="https://open.spotify.com/playlist/2m2lebj9Lg6Riwfyv7G9AD"
			/>
		</div>
		<div class="mt-10">
			<h1 class="mb-6 text-4xl">anime/manga list</h1>
			<Mal />
		</div>
	</main>
</Layout>

<style>
	li > a {
		@apply text-moonlightBlue underline;
	}
</style>
