---
import type { LanyardData, LanyardResponse } from "./types/lanyard";

const USER_ID = 681208628350418977n;

const lanyard = await getLanyard();

async function getLanyard(): Promise<LanyardResponse | { success: false }> {
	try {
		const res = await fetch(`https://api.lanyard.rest/v1/users/${USER_ID}`);
		const data: LanyardResponse = await res.json();
		return data;
	} catch {
		return {
			success: false,
		};
	}
}

function statusToColor(status: LanyardData["discord_status"]): string {
	if (status === "online") return "#22a559";
	if (status === "idle") return "#E8ca5e";
	if (status === "dnd") return "#f23f43";
	return "#83858f";
}
---

{
	lanyard.success && (
		<section class="flex h-min min-w-36 flex-col overflow-hidden rounded-lg border bg-moonlightFocusMedium">
			<div
				style="background-image: linear-gradient(180deg, #aa465e 65%, #1A1B1F 35%);"
				class="flex w-full justify-center pt-2"
			>
				<div class="relative">
					<img
						class="h-28 w-28 rounded-full border-[4px] border-moonlightFocusMedium"
						src={`https://cdn.discordapp.com/avatars/${USER_ID}/${lanyard.data.discord_user.avatar}`}
						alt="profile"
					/>
					<div
						class={`absolute bottom-1 right-1 h-7 w-7 rounded-full border-[4px] border-moonlightFocusMedium`}
						style={`background-color: ${statusToColor(lanyard.data.discord_status)}`}
						title={lanyard.data.discord_status}
					/>
				</div>
			</div>
			<div class="flex flex-col gap-2 p-2 pt-0">
				<div class="flex w-full items-center justify-center rounded-lg py-1">
					<h1>{`${lanyard.data.discord_user.username}`}</h1>
				</div>
				<a
					class="block w-full rounded-lg border bg-[#417e4c] py-2 text-center font-medium transition-colors hover:bg-green-600"
					href={`https://discord.com/users/${USER_ID}`}
				>
					add me
				</a>
			</div>
		</section>
	)
}
