---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/inter";

interface Props {
	title: string;
	disableNav?: boolean;
	og?: {
		title: string;
		description: string | undefined;
		type: string;
		url: string;
		image: string | undefined;
	};
}

const { title, disableNav } = Astro.props;

const og = {
	title: "skeary's ocean",
	description: "><>",
	type: "website",
	url: "https://skeary.me",
	...Astro.props.og,
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/cat.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={og.title} />
		<meta property="og:description" content={og.description} />
		<meta property="og:type" content={og.type} />
		<meta property="og:url" content={og.url} />
		{
			og.image && (
				<>
					<meta property="og:image" content={og.image} />
					<meta name="twitter:title" content={og.title} />
					<meta name="twitter:card" content="summary_large_image" />
					<meta name="twitter:image:src" content={og.image} />
				</>
			)
		}
		<title>{title}</title>
	</head>
	<body>
		{
			!disableNav && (
				<nav class="sticky top-0 z-50 flex w-full items-center justify-center border-b bg-moonlightInterface">
					<div class="flex w-[42rem] items-center justify-between p-4">
						<a href="/">
							<img
								class="[transform:scaleX(-1)]"
								height="40px"
								width="40px"
								src="/cat.svg"
								alt="cat"
							/>
						</a>
						<div class="flex gap-4 underline">
							<a class="text-moonlightStone" href="/projects">
								/projects
							</a>
							<a class="text-moonlightStone" href="/blog">
								/blog
							</a>
							<a class="text-moonlightStone" href="/about">
								/about
							</a>
						</div>
					</div>
				</nav>
			)
		}
		<slot />
	</body>
</html>

<style is:global>
	html {
		color-scheme: dark;
		font-variant-ligatures: none;
		@apply bg-moonlightBase text-moonlightWhite;
	}

	* {
		@apply border-moonlightWhite/10;
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}

	.animate-spin-slow {
		animation: spin 30s linear infinite;
	}
</style>
